In [1]:
import os
import pandas as pd

In [3]:
# Проверка корректной установки Pandas
from nose.tools import ok_, assert_equal
import inspect
import sys

# Check that pandas module is imported
ok_('pandas' in sys.modules)

In [4]:
df = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
# raise NotImplementedError()

In [5]:
# Check that the variable data exists:
ok_('df' in locals())

Загрузка данных

In [6]:
# считаем данные в датафрейм
df = pd.read_csv('Input\\6153237444115dat.csv', sep=',')

In [7]:
df.head()

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,28450,99999,201705010000,174,10,14,***,***,*,*,...,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
1,28450,99999,201705010020,180,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
2,28450,99999,201705010050,190,10,***,4,***,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**
3,28450,99999,201705010100,188,12,16,***,***,*,*,...,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35
4,28450,99999,201705010120,200,13,***,2,OBS,*,*,...,******,29.74,******,***,***,*****,*****,*****,*****,**

In [8]:
# Отсутствие данных
na_values=['*', '**', '***', '****', '*****', '******']

In [13]:
# Number of rows in the dataframe:
rows = df.shape[0]

# Column names:
column_names = list(df) # df.columns

# Column datatypes:
column_datatypes = df.dtypes

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
# raise NotImplementedError()

In [14]:
# Print the number of rows in the dataframe:
print("There are " + str(rows) + " rows")

# Print the column names:
print("The columns are: \n", column_names)

# Print the column datatypes:
print("The column types are: \n", column_datatypes)

There are 11694 rows
The columns are:
 ['USAF', 'WBAN', 'YR--MODAHRMN', 'DIR', 'SPD', 'GUS', 'CLG', 'SKC', 'L', 'M', 'H', 'VSB', 'MW', 'MW.1', 'MW.2', 'MW.3', 'AW', 'AW.1', 'AW.2', 'AW.3', 'W', 'TEMP', 'DEWP', 'SLP', 'ALT', 'STP', 'MAX', 'MIN', 'PCP01', 'PCP06', 'PCP24', 'PCPXX', 'SD']
The column types are:
 USAF             int64
WBAN             int64
YR--MODAHRMN     int64
DIR             object
SPD             object
GUS             object
CLG             object
SKC             object
L               object
M               object
H               object
VSB             object
MW              object
MW.1            object
MW.2            object
MW.3            object
AW              object
AW.1            object
AW.2            object
AW.3            object
W               object
TEMP            object
DEWP            object
SLP             object
ALT             object
STP             object
MAX             object
MIN             object
PCP01           object
PCP06           object
PCP24           object
PCPXX           object
SD              object
dtype: object

In [ ]:
# Calculate mean temperature
temp_mean = df['TEMP'].mean()

# Calculate standard deviaton of the maximum temperature:
temp_max_std = None

#Calculate number of unique stations:
station_count = None

In [17]:
# Check mean temperature value
print("The mean temperature in Fahrenheit is ", round(temp_mean,1))

NameError: name 'temp_mean' is not defined

In [33]:
 df1 = df['TEMP'][df['TEMP'].values != zv in ]
 # df1 = df['TEMP'][df['TEMP'].values != "****"]   
 print(df1)

0        31
1        30
2        30
3        31
4        30
         ..
11689    64
11690    64
11691    64
11692    64
11693    64
Name: TEMP, Length: 11691, dtype: object

In [34]:
df1.astype(int).mean()

52.24796852279531

In [19]:
df.mean()

USAF            2.883257e+04
WBAN            9.999900e+04
YR--MODAHRMN    2.017067e+11
dtype: float64